#demonome{
    display: inline-flex;
    width: 100%;
}

h2 {
    margin: auto;
}

#navbar{
    color:#3e8acc;
    margin-left: 2rem;
    margin-top: 2.5rem;
}

#bt {
    margin-right: 2rem;
}

.navItem {
    
    margin-right: 5rem;
    font-size: 1.2vw;
}