<div id="demonome">
<h1>Demografia</h1>
<h2>{{doenteNome}}</h2>
</div>
<div id="navbar">
    <a>Identidade</a>
    <a>Contactos</a>
    <a>Perfil Socio-familiar</a>
    <a>Processo Social</a>
    <a>Horario do Doente</a>
    <a>Histórico de Movimentos</a>
</div>
<br>
<button (click)="changeSelect(true)">Selecionar Doente</button>
<jhi-seletordoente></jhi-seletordoente>
<jhi-demoid></jhi-demoid>
<jhi-contactos></jhi-contactos>
<jhi-contactosoutros></jhi-contactosoutros>
<jhi-sociofamiliar></jhi-sociofamiliar>
<jhi-processosocial></jhi-processosocial>
<jhi-horario></jhi-horario>
<jhi-movimentos></jhi-movimentos>